.container {
  padding-top: 52px;
  padding-left: 52px;
}

.title-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #484848;
}

.ant-modal-footer {
  height: 60px;
  width: 100%;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.post-container {
  /* width: 128px; */
  height: 295px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.img-content {
  width: 100%;
  height: 165px;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.modal-title-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #484848;

  margin-top: 12px;
  margin-left: 12px;
  height: 48px;
  width: 252px;
}

.content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #484848;

  margin-top: 4px;
  margin-left: 12px;

  height: 40px;
  width: 240px;
}

.ant-modal-body {
  padding: 0px !important;
  padding-top: 24px !important;
}

.editor-paragraph {
  height: 10px;
}

.post-container .editor-paragraph > span {
  display: flex;
  align-items: center;
  height: 40px;
}

.component-wrapper {
  display: flex;
}

.post-container {
  margin: 0px 10px;
}
.slick-list {
  margin: 0 -10px !important;
}

/* .slick-slide {
  margin: 0 10px !important;
} */
