.container {
  padding-top: 52px;
  padding-left: 52px;
  width: 100%;
}

.content-container {
  display: flex;
  width: 95%;
}

.title-page {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
  color: #484848;
}

.flex {
  display: flex;
}

.items-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 20px;
  color: #484848;
  width: 140px;
}

.information {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #484848;
}

.add-phonenumber {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 20px;
  color: #8551db;
  margin-left: 32px;
}

.paragraph {
  height: 120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #484848;
  width: 95%;
}

.line {
  margin-left: 14px;
}

.social-media-container {
}
/* .ant-upload-list-item-name,
.ant-upload-text-icon,
.ant-upload-list-item-card-actions {
  display: none !important;
} */

.ant-upload {
  border: none !important;
  background: none !important;
  width: 0 !important;
  height: 0 !important;
}

.avatar-container {
  width: 120px;
  height: 120px;
  margin-left: 100px;
}

.btn-container {
  display: flex;
  width: 120px;
  justify-content: space-between;
  margin-top: 9px;

  color: #8551db;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 20px;
}

.ant-upload-list-item {
  border: none !important;
}

.ant-upload-list-picture-card-container {
  width: 120px !important;
  height: 120px !important;
}

.form-input {
  width: 400px !important;
  height: 32px;
  display: flex;
  flex-direction: row-reverse;
}

.form-social {
  width: 435px !important;
  height: 32px;
  display: flex;
  flex-direction: row-reverse;
}

.ant-form-item-required {
  width: 140px;
}

.margin12 {
  margin-top: 12px !important;
}

.none {
  display: none;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: "" !important;
}

.suffix-container {
  padding-right: 20px;
}
