.container {
  padding-top: 52px;
  padding-left: 52px;
  width: 100%;
}

.content-container {
  display: flex;
  width: 95%;
  margin-top: 28px;
}

.title-page {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  height: 28px;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #484848;
}

.flex {
  display: flex;
}

.items-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 20px;
  color: #484848;
  width: 140px;
}

.information {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #484848;
}

.add-phonenumber {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #8551db;
  width: 400px;
}

.mgt {
  margin-top: 5px;
}

.paragraph {
  height: 120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #484848;
  width: 860px;
}

.mgr {
  margin-right: 300px;
}

.line {
  margin-left: 14px;
}

.social-media-container > p {
  width: 300px;
}

.ant-upload {
  border: none !important;
  background: none !important;
  width: 0 !important;
  height: 0 !important;
}

.avatar-container {
  width: 120px;
  height: 120px;

  margin-top: 44px;
}

.margin-avatar {
  transform: translate(-150px, 0px);
}

.btn-container {
  display: flex;
  width: 120px;
  justify-content: space-between;
  margin-top: 9px;

  color: #8551db;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 20px;
}

.ant-upload-list-item {
  border: none !important;
}

.ant-upload-list-picture-card-container {
  width: 120px !important;
  height: 120px !important;
}

.item .form-input {
  width: 400px !important;
  height: 32px;
}

.item .form-social {
  width: 400px !important;
  height: 32px;
  display: flex;
  flex-direction: row-reverse;
}

.ant-form-item-required {
  width: 140px;
}

.item {
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.margin12 {
  margin-top: 12px;
}

.none {
  display: none;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none !important;
}

.suffix-container {
  padding-right: 20px;
}

.ant-form-item-label {
  width: 140px;
  text-align: left !important;
}

.form-input:hover,
.form-social:hover {
  border: 1px solid #7993ff !important;
}

.form-input:focus {
  border: 1px solid #ea1111;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(251, 4, 4, 0.963);
  border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.empty-value-input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #9a9fa9;
}
