.container {
  padding-top: 52px;
  padding-left: 52px;
  width: 100%;
}

.content-container {
  display: flex;
  width: 95%;
  margin-top: 28px;
}

.title-page {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  height: 28px;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #484848;
}

.flex {
  display: flex;
}

.items-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #484848;
  width: 140px;
  margin-bottom: 0;
}

.information {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #484848;
}

.add-phonenumber {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #8551db;
  width: 400px;
}

.mgt {
  margin-top: 5px;
}

.paragraph {
  height: 120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #484848;
  width: 860px;
}

.mgr {
  margin-right: 300px;
}

.line {
  margin-left: 14px;
}

.social-media-container > p {
  width: 300px;
}

.ant-upload {
  border: none !important;
  background: none !important;
  width: 0 !important;
  height: 0 !important;
}

.avatar-container {
  width: 120px;
  height: 120px;

  margin-top: 44px;
}

.margin-avatar {
  transform: translate(-150px, 0px);
}

.btn-container {
  display: flex;
  width: 120px;
  justify-content: space-between;
  margin-top: 9px;

  color: #8551db;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 20px;
}

.ant-upload-list-item {
  border: none !important;
}

.ant-upload-list-picture-card-container {
  width: 120px !important;
  height: 120px !important;
}

.item .form-input {
  width: 400px !important;
  height: 32px;
}

.item .form-social {
  width: 400px !important;
  height: 32px;
  display: flex;
  padding-left: 60px;
}

.input-social-container {
  position: relative;
}

.ant-form-item-required {
  width: 140px;
}

.item {
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.margin12 {
  margin-top: 12px;
}

.none {
  display: none;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none !important;
}

.suffix-container {
  padding-right: 20px;
  position: absolute;
  top: 8%;
  left: 3%;
  z-index: 999;
}

.ant-form-item-label {
  width: 140px;
  text-align: left !important;
}

.form-input:hover,
.form-social:hover {
  border: 1px solid #7993ff !important;
}

.form-input:focus {
  border: 1px solid #ea1111;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(251, 4, 4, 0.963);
  border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.empty-value-input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #9a9fa9;
}

.cursor {
  cursor: pointer;
}

.text-editor-wrraper .editor-input {
  padding-left: 0;
  padding-top: 0;
  margin-top: 8px;
}

.form-about-me .editor-container {
  margin-top: 20px;
}

.add-phone-modal-style {
  border-radius: 28px;
}

.add-phone-modal-title {
  color: #8551db;
  font-weight: 600;
  font-size: 24px;

  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  margin-bottom: 0;
}

.add-phone-modal-description {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;

  font-size: 14px;
  letter-spacing: -0.02em;
  color: #484848;
  margin-bottom: 0;
}

.margin-top-24 {
  margin-top: 24px;
}

.margin-top-12 {
  margin-top: 12px;
}

.add-phone-modal-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #484848;
  height: 80px;
  width: 400px;
  margin-bottom: 0;
}

.add-phone-modal-privacy-policy {
  color: #8551db;
  font-weight: 300;
  cursor: pointer;
  width: 50px;
}

.add-phone-modal-submit-btn {
  height: 36px;
  width: 400px;
  border-radius: 39px;
  background: #8551db;
  border: 1px solid #8551db;
  box-sizing: border-box;
  color: #ffffff;
}

.country-phone-input-container .antd-country-phone-input .ant-input-prefix {
  height: 40px;
  width: 86px;
  background: #f1f1f1;
  border-radius: 30px;
}

.country-phone-input-container .antd-country-phone-input .ant-input {
  height: 40px;
  width: 308px;
  background: #f1f1f1;
  border-radius: 30px;
  padding-left: 17px;
}

.country-phone-input-container .antd-country-phone-input {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-phone-input-container::selection {
  border: none !important;
}

.input-code-verify-container {
  width: 400px;
  height: 40px;
  margin-top: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-phone-modal-not-received-code {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: -0.02em;
  color: #484848;
  text-align: center;
  margin-top: 32px;
}

.color-purple-font-weight {
  color: #8551db;
  font-weight: 500;
  padding-bottom: 61px;
}

.add-phone-modal-input {
  width: 40px;
  height: 40px;
  text-align: center;

  background: #fafbfe;
  border: 1px solid #c3c9d5;
  box-sizing: border-box;
  border-radius: 4px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  line-height: 20px;
  letter-spacing: -0.02em;
  color: #484848;
}

.add-phone-modal-input:hover {
  border: 1px solid #8551db !important;
}

/* .add-phone-modal-input:: {
  border: 1px solid #8551db !important;
} */
