.container {
  padding-top: 52px;
  padding-left: 52px;
}

.title-page {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #484848;
}

.description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #9a9fa9;
}
