.header-container {
  background: #ffffff;
  height: 56px;
  width: 100%;

  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);
}

.logo-container {
  display: flex;
  height: 32px;
  width: 121px;

  border-radius: 0px;
  margin-left: 32px;
}

.input-icons {
  height: 32px;
  width: 384px;
  border-radius: 33px;

  margin-left: 37px;
  background: #ffffff;
  box-sizing: border-box;

  border-radius: 33px;
  border: 1px solid #dde1e9;
  padding-left: 15px;
  padding-right: 15px;
}

.search-icon {
  margin-left: -35px;
  margin-top: 7px;
}

.title-container {
  height: 28px;
  width: 136px;
  border-radius: 33px;
  background-color: #8551db;
  opacity: 0.1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.title {
  color: #8551db;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  opacity: 1 !important;
}

.icon-container-right {
  display: flex;
}

.icon-container-right > img:last-child {
  margin-right: 24px;
}

.icon-container-right > img:nth-last-child(2) {
  margin-right: 9px;
}

.icon-container-right > img:nth-last-child(3) {
  margin-right: 12px;
}

.icon-container-right > img:nth-last-child(4) {
  margin-right: 16px;
}

.icon-container-right > img:nth-last-child(5) {
  margin-right: 16px;
}

.icon-container-right > img:nth-last-child(6) {
  margin-right: 16px;
}

.icon-container-right > img:nth-last-child(7) {
  margin-right: 16px;
}

.sider {
  height: 320px;
  width: 272px;
  padding-top: 32px;
  margin-top: 12px;
  border-radius: 8px;
  background-color: #fafaff;
}

.personal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #484848;
  margin-left: 32px;
  margin-top: 0;
}

.my-media {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #484848;
  margin-top: 24px;
}

.menu-items {
  list-style-type: none;
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #484848;
  text-align: left;
}

.menu {
  margin-left: -31px;
}

.pathname-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  color: #3e7fff;
}

.pathname-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  color: #484848;
  margin-left: 7px;
}

.ant-menu-item-selected {
  color: #8551db;
  font-weight: 550;
}
